name: CI

on:
  push:
    branches: [main]
permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v2

        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set lowercase owner
        id: vars
        run: |
          echo "owner=${GITHUB_REPOSITORY_OWNER,,}" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/${{ steps.vars.outputs.owner }}/miriyam-studio:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
